<footer>
    <!-- this is footer -->
    <div class="footer-content">
        <div class="footer-col">
            <div class="footer-title">
                <span>TeleMedico</span>
            </div>
            <div>
                <a href="#" class="footer-item">Doctors</a>
                <a href="#" class="footer-item">Sign-Up</a>
                <a href="#" class="footer-item">About Us</a>
            </div>
        </div>

        <div class="footer-col">
        <div class="footer-title">
            <span>Recommended Hospitals</span>
        </div>
        <div>
            <a href="#" class="footer-item">Apollo</a>
            <a href="#" class="footer-item">Hayat</a>
            <a href="#" class="footer-item">Woodlands</a>
        </div>
    </div>

    <div class="footer-col">
        <div class="footer-title">
            <span>For Patients</span>
        </div>
        <div class="item">
            <a href="#" class="footer-item">Appointments</a>
            <a href="#" class="footer-item">Availability</a>
            <a href="#" class="footer-item">Chat with us</a>
        </div>
    </div>

    <div class="footer-col">
        <div class="footer-title">
            <span>Ratings</span>
        </div>
        <div class="item">
            <a href="#" class="footer-item">Stars</a>
            <a href="#" class="footer-item">Feedback</a>
            <a href="#" class="footer-item">24 x 7 Helpline</a>
        </div>
    </div>
    

    <div class="footer-col">
        <div class="footer-title">
            <span>Socials</span>
        </div>
        <div>
            <a href="#" class="footer-item">Facebook</a>
            <a href="#" class="footer-item">Twitter</a>
            <a href="#" class="footer-item">Github</a>
        </div>
    </div>

    </div>
   
   
</footer>