<footer>
    <!-- this is footer -->
    <div class="footer-content">
        <div class="footer-col">
            <div class="footer-title">
                <span>TeleMedico</span>
            </div>
            <div>
                <a href="/doctors" class="footer-item">Doctors</a>
                <a href="/signup" class="footer-item">Sign-Up</a>
                <a href="#all-about" class="footer-item">About Us</a>
            </div>
        </div>

        <div class="footer-col">
        <div class="footer-title">
            <span>Recommended Hospitals</span>
        </div>
        <div>
            <a href="https://www.apollohospitals.com/" class="footer-item">Apollo</a>
            <a href="https://hayathospital.in/doctors.html" class="footer-item">Hayat</a>
            <a href="https://www.woodlandshospital.in/" class="footer-item">Woodlands</a>
        </div>
    </div>

    <div class="footer-col">
        <div class="footer-title">
            <span>For Patients</span>
        </div>
        <div class="item">
            <a href="/appointment" class="footer-item">Appointments</a>
            <a href="/specialities" class="footer-item">Availability</a>
            <a href="/profile" class="footer-item">Chat with us</a>
        </div>
    </div>

    <div class="footer-col">
        <div class="footer-title">
            <span>Ratings</span>
        </div>
        <div class="item">
            <a href="https://2ab7ii5zafm.typeform.com/to/PW3SWUyR" class="footer-item">Stars</a>
            <a href="https://2ab7ii5zafm.typeform.com/to/PW3SWUyR" class="footer-item">Feedback</a>
            <a href="https://2ab7ii5zafm.typeform.com/to/PW3SWUyR" class="footer-item">24 x 7 Helpline</a>
        </div>
    </div>
    

    <div class="footer-col">
        <div class="footer-title">
            <span>Socials</span>
        </div>
        <div>
            <a href="https://facebook.com/" class="footer-item">Facebook</a>
            <a href="https://twitter.com/" class="footer-item">Twitter</a>
            <a href="https://github.com/codadept/decoding-apocalypse.git" class="footer-item">Github</a>
        </div>
    </div>

    </div>
   
   
</footer>