<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/img/telemedico-snip.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><span class="hover-anim">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctors"><span class="hover-anim">Doctors</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/specialities"><span class="hover-anim">Specialities</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#all-about"><span class="hover-anim">About</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Consult Now</a></li>
              <li><a class="dropdown-item" href="#">Need Help?</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Report</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Best team all over India</a>
          </li>
          <li class="nav-item">
            <span id="log-sign-btns">
                <a href="/login" class="btn btn-outline-primary">Log In</a>
                <a href="/signup" class="btn btn-outline-primary">Sign Up</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
</nav>