<% layout('layouts/boilerplate') %> 

<!-- multistep form -->
<div class="appointment">
<form id="msform" class="appointment-bg">
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Patient Details</li>
      <li>Personal Details</li>
    </ul>
    <!-- fieldsets -->
    <fieldset id="block1">
      <h2 class="fs-title">Patient Details</h2>
      <h3 class="fs-subtitle">This is step 1 of your TeleMedico journey</h3>
      <input type="text" name="name" placeholder="Full Name" />
      <input type="text" name="age" placeholder="Age" />
      <select class="form-select" id="inlineFormSelectPref">
        <option selected>Gender</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
        <option value="3">Others</option>
      </select>
      <input type="text" name="phone" placeholder="Phone" />
      <textarea name="address" placeholder="Address"></textarea>
      
      
      <!-- <input type="password" name="cpass" placeholder="Confirm Password" /> -->
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    
    <fieldset>
      <h2 class="fs-title">Personal Details</h2>
      <h3 class="fs-subtitle">100% safe consultation</h3>
      
      <select class="form-select " id="inlineFormSelectPref">
        <option selected>Speciality Required</option>
        <option value="1">Otology</option>
        <option value="2">Gynecology </option>
        <option value="3">Neurology</option>
        <option value="3">Dermatology</option>
        <option value="3">Pediatrician</option>
        <option value="3">Gastroenterology</option>
        <option value="3">Nephrology</option>
        <option value="3">Sexology</option>
      </select>
      
      <input type="text" name="lname" placeholder="Symptoms" />
      <input type="text" name="fname" placeholder="Description" />
      <form action="/action_page.php">
        <label for="date">Last Consultation Date</label>
        <input type="date" id="consultation" name="consultation" placeholder="Last Consultation Date">
        <!-- <input type="submit"> -->
      </form>
      <a class=" action-button" href="/doctors/someidwhichcomesfromdb/appointment/payment">Proceed for Payment</a>
   </div>
