<% layout('layouts/boilerplate') %> 

<section class="chat">
    
    <div class="chat-body">

        <div class="chat-messages-body">

        </div>

        <form class="chat-input">
            <input type="text">
            <button class="chat-send"><i class="fas fa-chevron-right"></i></button>
        </form>

    </div>

</section>

<script>
    const id =  `<%= doctor.id %>`;
    const name = "<%= doctor.name%>"
</script>