<% layout('layouts/boilerplate') %>

<div class="contact">
    <div class="contact-jumbotron">
        <div class="container-fluid bg-dark text-light p-5 jumbo">
            <div class="container bg-dark p-5">
                <h1 class="display-4">Contact Us</h1>
                <hr style="position: relative;left: -10vw;">
                <a href="https://github.com/codadept/decoding-apocalypse.git">Decoding Apocalypse</a>
                <img class="content-icon" src="/img/contact.png" alt="">
            </div>
        </div>
    </div>
    <div class="contact-container">
        <h2>Our Telemedico Family</h2>
        
        <div id="tele-family">
            <div id="pottik">
                <div class="contact-img">
                    <img src="/img/pottik.jpg" alt="">
                </div>
                <div class="contact-body">
                    <h4>Pratik Majumder</h4>
                    <div class="links">
                        <a href="https://www.facebook.com/itspratikmaj"><img src="img/facebook.png" alt=""></a>
                        <a href="https://github.com/codadept"><img src="img/github.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/codadept/"><img src="img/linkedin.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div id="viku">
                <div class="contact-img">
                    <img src="/img/viku.jpg" alt="">
                </div>
                <div class="contact-body">
                    <h4>Vikas</h4>
                    <div class="links">
                        <a href="https://www.facebook.com/vikas.makkar.357"><img src="img/facebook.png" alt=""></a>
                        <a href="https://github.com/vikas528"><img src="img/github.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/vikas-suthar-bb4678200/"><img src="img/linkedin.png" alt=""></a>
                    </div>
                </div>
                
            </div>
            <div id="sandaas">
                <div class="contact-img">
                    <img src="/img/sandaas.jpg" alt="">
                </div>
                <div class="contact-body">
                    <h4>Sayahnneeta Dutta</h4>
                    <div class="links">
                        <a href="https://www.facebook.com/profile.php?id=100004857528784"><img src="img/facebook.png" alt=""></a>
                        <a href="https://github.com/Sayahnneeta"><img src="img/github.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/sayahnneeta-dutta-2b4525187/"><img src="img/linkedin.png" alt=""></a>
                    </div>
                </div>
                
            </div>
            <div id="jhandu">
                <div class="contact-img">
                    <img src="/img/jhandu.jpg" alt="">
                </div>
                <div class="contact-body">
                    <h4>Jay Mehta</h4>
                    <div class="links">
                        <a href="https://www.facebook.com/profile.php?id=100048528644128"><img src="img/facebook.png" alt=""></a>
                        <a href="https://github.com/BitsJayMehta173"><img src="img/github.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/jay-mehta-670459178/"><img src="img/linkedin.png" alt=""></a>
                    </div>
                </div>
                
            </div>
            <div id="chetuna">
                <div class="contact-img">
                    <img src="/img/chetuna.jpg" alt="">
                </div>
                <div class="contact-body">
                    <h4>Chetana Saikia</h4>
                    <div class="links">
                        <a href="https://www.facebook.com/profile.php?id=100006865724292"><img src="img/facebook.png" alt=""></a>
                        <a href="https://github.com/menma04"><img src="img/github.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/chetana-saikia-2407531b9/"><img src="img/linkedin.png" alt=""></a>
                    </div>
                </div>
                
            </div>
        </div> 
    </div>
</div>