<% layout('layouts/boilerplate') %>

<div class="contact">
    <div class="contact-jumbotron">
        <div class="container-fluid bg-dark text-light p-5 jumbo">
            <div class="container bg-dark p-5">
                <img class="content-icon" src="/img/contact.png" alt="">
                <h1 class="display-4">Contact Us</h1>
            </div>
        </div>
    </div>
    <div class="contact-container">
        <h2>Our Telemedico Family</h2>
        <div class="contact-people">
            <div class="contact-img">
                <img src="/img/pratik.jpeg" alt="" srcset="">
            </div>
            <div class="contact-body">
                <h4>Pratik Majumder</h4>
                <a href="#">Github Profile</a>
                <a href="#">LinkedIn Profile</a>
                <a href="#">Facebook Profile</a>
            </div>
        </div>
    </div>
        