<% layout('layouts/doctorsbp') %> 

<div class="bg-doctor">
   <h2 class="doctor-title">Doctor List</h2>
<div class="row row-cols-auto justify-content-center ">
   
   <div class="card col col-xl-3"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"> <b>DR. Amit Sharma</b> </h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>
   
   <div class="card col col-xl-3"  style="width: 18rem;">
      <img src="/img/male-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>Dr. Satish Khanna</b></h5>
         <p class="card-text"><b>Degree:</b>  MBBS,MS <br> <b> Specialist:</b> Hematologist <br> <b>Experience:</b>  14 years of experience and 2 years training in London</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3"  style="width: 18rem;">
      <img src="/img/male-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. K Meenakshi</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>
   
   <div class="card col col-xl-3"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. Rupak Gaur</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. Rupak Gaur</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. K Meenakshi</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. K Meenakshi</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. K Meenakshi</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3 col-lg-4 col-md-6 col-sm-12"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. K Meenakshi</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3 col-lg-4 col-md-6 col-sm-12"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. K Meenakshi</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3 col-lg-4 col-md-6 col-sm-12"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. K Meenakshi</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

   <div class="card col col-xl-3 col-lg-4 col-md-6 col-sm-12"  style="width: 18rem;">
      <img src="/img/female-doc.png" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title"><b>DR. K Meenakshi</b></h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="/doctors/someidwhichcomesfromdb" class="btn btn-primary ">Book Appointment</a>
      </div>
   </div>

      
</div>
<footer>
   <!-- this is footer -->
   <div class="footer-content">
      <div class="footer-col">
         <div class="footer-title">
            <span>TeleMedico</span>
         </div>
         <div>
            <a href="#" class="footer-item">Doctors</a>
            <a href="#" class="footer-item">Sign-Up</a>
            <a href="#" class="footer-item">About Us</a>
         </div>
      </div>

      <div class="footer-col">
         <div class="footer-title">
            <span>Recommended Hospitals</span>
         </div>
         <div>
            <a href="#" class="footer-item">Apollo</a>
            <a href="#" class="footer-item">Hayat</a>
            <a href="#" class="footer-item">Woodlands</a>
         </div>
      </div>

      <div class="footer-col">
         <div class="footer-title">
            <span>For Patients</span>
         </div>
         <div class="item">
            <a href="#" class="footer-item">Appointments</a>
            <a href="#" class="footer-item">Availability</a>
            <a href="#" class="footer-item">Chat with us</a>
         </div>
      </div>

      <div class="footer-col">
         <div class="footer-title">
            <span>Ratings</span>
         </div>
         <div class="item">
            <a href="#" class="footer-item">Stars</a>
            <a href="#" class="footer-item">Feedback</a>
            <a href="#" class="footer-item">24 x 7 Helpline</a>
         </div>
      </div>


      <div class="footer-col">
         <div class="footer-title">
            <span>Socials</span>
         </div>
         <div>
            <a href="#" class="footer-item">Facebook</a>
            <a href="#" class="footer-item">Twitter</a>
            <a href="#" class="footer-item">Github</a>
         </div>
      </div>

   </div>


</footer>
</div>