<% layout('layouts/boilerplate') %> 

<h1>This is homepage</h1>

<div class="middle">
    <h2 id="letter">25+ Specialities</h2>
    <div id="overhead">
        <div>
            <p>Consult with top doctors across specialities</p>
        </div>
        <button class="spec"><a href="#">See All Specialities</a></button>
    </div>
    <div class="menu" id="scroolmenu">
        <div class="img img 1">Sexology</div>
        <div class="img img2">Gynaecology</div>
        <div class="img3 img">Dernatology</div>
        <div class="img4 img">Psychiatry</div>
        <div class="img img 1">Stomach Digestion</div>
        <div class="img img2">Pediatrics</div>
        <div class="img img 1">Kidney and Urine</div>
        <div class="img img2">Pediatrics</div>
        <div class="img img 1">Kidney and Urine</div>
    </div><br>
    <button id="leftscrool">&#x2190;</button>
    <button id="rightscrool">&#x2192;</button>
</div>