<% layout('layouts/boilerplate') %> 

<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4">Welcome to TeleMedico</h1>
        <hr>
        <p>Our team's website for HackRx annual hackathon hosted by Bajaj Finserv. </p>
        <a href="#" class="btn btn-primary">Check doctor's availability</a>
    </div>
</div>