<% layout('layouts/boilerplate') %> 

<h1>This is homepage</h1>
<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4">Welcome to TeleMedico</h1>
        <hr>
        <p>Our team's website for HackRx annual hackathon hosted by Bajaj Finserv. </p>
        <a href="#" class="btn btn-primary">Check doctor's availability</a>
    </div>
</div>
<div class="middle">
    <h2 id="letter">25+ Specialities</h2>
    <div id="overhead">
        <div>
            <p>Consult with top doctors across specialities</p>
        </div>
        <button class="spec"><a href="#">See All Specialities</a></button>
    </div>
    <div class="menu" id="scroolmenu">
        <div class="img img 1">Sexology</div>
        <div class="img img2">Gynaecology</div>
        <div class="img3 img">Dernatology</div>
        <div class="img4 img">Psychiatry</div>
        <div class="img img 1">Stomach Digestion</div>
        <div class="img img2">Pediatrics</div>
        <div class="img img 1">Kidney and Urine</div>
        <div class="img img2">Pediatrics</div>
        <div class="img img 1">Kidney and Urine</div>
    </div><br>
    <button id="leftscrool">&#x2190;</button>
    <button id="rightscrool">&#x2192;</button>
</div>
