<% layout('layouts/boilerplate') %>

  <div class="profile-container">
    <h1>Doctor Profile</h1>
    <img src="/img/male-doc.png" alt="" srcset="">
    <div class="btn-circle blink"></div>
    <div class="content">
      <h3> <b> Dr. Sameer Lohia </b></h3>
      <div class="profile-content">
        <ul>MBBS, MS, DNB</ul>
        <ul>Senior Consultant Nephrologist</ul>
        <ul>Apollo Hospitals</ul>
        <br> <br>
      </div>
      <div class="profile-special">
        <h4>Speciality</h4>
        <button type="button" class="btn btn-info">Nephrologist</button>
        <button type="button" class="btn btn-info">Urologist</button>
      </div>
      <div class="profile-exp">
        <h4>Experience</h4>
        <p>20 years+</p>
        <h4>Languages</h4>
        <p>English,Hindi,Bengali,Telegu</p>
        <h4>Contact</h4>
        <p>+91 9876543210</p>
        <br>
      </div>
      <div class="profile-doc-about">
        <h4>About Dr. Sameer Lohia</h4>
        <p> <b> Dr. Sameer Lohia</b> is a board-certified Nephrologist at the Apollo Hospitals,Chennai for the past 7
          years. He has completed his medical training at Louisiana State University School of Medicine in New
          Orleans.</p>
        <p>Patients from all around the state and entire country come to Dr. Sameer Lohia with lots of hope and
          the doctor ensures that the patients are satisfied with the treatments, with his experience and the techniques
           he uses as a Nephrologist.</p>
           <a href="/doctors/someidwhichcomesfromdb/appointment" type="button" class="btn btn-warning">Book Appointment</a>

      </div>
    </div>
  </div>