<% layout('layouts/boilerplate') %> 

<div class="profile-container">

    <h2 class="doctor-title">Doctor Profile</h2>
    <div class="card" style="width: 18rem;">
        <img src="/img/male-doc.png" class="card-img-top" alt="...">
        <div class="card-body">
            
          <h5 class="card-title"><div class="btn-circle"></div><b>Dr. Amit Sharma</b></h5>
          <p class="card-text"><b>Degree:</b>  MBBS,MS <br> <b> Specialist:</b> Hematologist <br> <b>Experience:</b>  14 years of experience and 2 years training in London</p></p>
          <a href="#" class="btn btn-primary profile-btn">Book Appointment</a>
        </div>
      </div>
</div>