/* GENERAL STYLES */
/* main{
    /* padding: 5rem; */
*/

/* ! <NAVBAR> */
.navbar .container {
    position: relative;
    left: -10.5%;
}

.nav-item {
    position: relative;
}

.navbar-brand img{
    height: 60px;
    padding: 0;
}

.hover-anim {
    font-size: 20px;
    padding: 0 10px 0 10px;
}

#navbarDropdown {
    font-size: 20px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FC5185;
}

.hover-anim::before {
    position: absolute;
    content: "";
    background-color: rgb(224, 83, 106);
    height: 3px;
    left: 50%;
    width: 4.5%;
    transform: translate(-50%, 0) scaleX(0);
    bottom: 3px;
    transition: 0.3s;
}

.hover-anim:hover::before {
    width: 90%;
    transform: translate(-50%, 0) scaleX(1);
}

#log-sign-btns {
    position: relative;
    right: -20vw;
}

#log-sign-btns .btn {
    border-color: #FC5185;
    color: #FC5185;
}

#log-sign-btns .btn:hover {
    background-color: #FC5185;
    color: white;
}
/* ! </NAVBAR> */

/* SPECIALIST SECTION STYLING */

.middle{
    margin:30px;
    box-sizing: border-box;
    position: relative;
}
.table{
    float: left;
}
.menu{
    margin:8px;
    min-height: 250px;
    height:280px;
    display: flex;
    overflow-x: auto;
}
.menu::-webkit-scrollbar{
    display: none;
}
.menu .img{
    position: relative;
    top:10px;
    min-width:180px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 184, 192);
    border: 2px solid rgb(212, 212, 212);
    box-shadow: 0px 3px 9px 0px;
    border:none;
    border-radius: 5px;
    width: 180px;
    height: 210px;
    line-height:110px;
    margin: 20px;
}
.img:hover{
    transition: 300ms ease-in;
    transform: scale(1.02);
}
#overhead{
    margin:18px 10px;
    display: flex;
    justify-content: space-between;
}
#letter{
    margin:10px;
}
.spec{
    border:none;
    background-color: rgb(255, 255, 253);
    width:180px;
    height:45px;
    border-radius: 10px;
    border: 1px solid rgb(41, 40, 40);
}
.spec a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#scrollmenu{
    scroll-behavior: smooth;
}

#leftscroll{
    left: 1%;
}

#rightscroll{
    right: 1%;
}

.scrollBtn{
    position: absolute;
    top: 58%;
    border: none;
    font-weight: 700;
    border-radius: 50%;
    padding: 0.8rem 1rem;
    background-color: white;
    transition: all 0.1s ease-in 0s;
}

.scrollBtn:hover{
    box-shadow: 2px 4px 4px rgb(151, 151, 151);
    transform: scale(1.1);
}

/* DOCTORS SPECIALIZATION SECTION */

*,*::after,*::before
{
    padding: 0px;
    margin: 0px;
    /* background-color: #04566e; */
}
.bg-doctor
{
    background-color: #04566e;
    background-size: cover;
    /* bottom: 0; */
    position: relative;
    /* height: 280vh;    */
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 0;
    /* min-height: max-content; */
}

.doctor-title
{
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 15px;
}
 
.card
{   font-family: Camphor,sans-serif;
    position: relative;
    border: 10px;
    margin: 10px;
    margin-bottom: 25px;

}

.row
{   font-family: Camphor,sans-serif;
    position: relative;
    padding: 50px;
    border: 10px;
}

/* Benefits of Online Consultation */
.grid-col
{
    flex-basis: 33.33%;
    padding: 27px;
    text-align: justify;
    font-size: 17px;
}
.grid-row
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.heading
{
    font-size: 22px;
    font-weight: bold;
}
.right-icon
{
    position: relative;
    height: 50px;
}

/* Appointment Styling */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}





/* FOOTER STYLING */

footer
{
    background-image: url(/img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 360px;
    padding: 30px;
    border: 60px;
    /* z-index: 1; */
    /* position: sticky; */

    /* background-color:#04566e ; */
}

.footer-content
{
    margin: 30px;
    padding-top:  120px;
    border: 80px;
    text-decoration: none;
    color: black;
    /* vertical-align: middle; */
}
.footer-col
{  
    display: inline-table;
    font-size: 15px;
    line-height: 22px;
    width: 19.7%;
    padding-right: 7px;
}
.footer-title
{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.footer-item
{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
    font-weight: normal;
    padding: 5px;
}

