/* GENERAL STYLES */
 main{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    min-height: 100vh;
} 

/* ! <NAVBAR> */
.navbar .container {
    position: relative;
    left: -10.4vw;
}

.nav-item {
    position: relative;
}

.navbar-brand img{
    height: 60px;
    padding: 0;
}

.hover-anim {
    font-size: 20px;
    padding: 0 10px 0 10px;
}

#navbarDropdown {
    font-size: 20px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FC5185;
}

.hover-anim::before {
    position: absolute;
    content: "";
    background-color: rgb(224, 83, 106);
    height: 3px;
    left: 50%;
    width: 4.5%;
    transform: translate(-50%, 0) scaleX(0);
    bottom: 3px;
    transition: 0.3s;
}

.hover-anim:hover::before {
    width: 90%;
    transform: translate(-50%, 0) scaleX(1);
}

#log-sign-btns {
    position: relative;
    right: -20vw;
}

#log-sign-btns .btn {
    margin: 0 5px 0 5px;
    border-color: #FC5185;
    color: #FC5185;
}

#log-sign-btns .btn:hover {
    background-color: #FC5185;
    color: white;
}
/* ! </NAVBAR> */

/* SPECIALIST SECTION STYLING */

.jumbo {
    margin: 0;
    padding: 0;
}

.middle{
    margin:30px;
    box-sizing: border-box;
    position: relative;
}

.table{
    float: left;
}

.menu{
    margin:8px;
    min-height: 250px;
    height:280px;
    display: flex;
    overflow-x: auto;
}

.menu::-webkit-scrollbar{
    display: none;
}

.menu .img{
    position: relative;
    top:10px;
    min-width:180px ;
    display:grid;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(221, 184, 192); */
    border: 2px solid rgb(212, 212, 212);
    box-shadow: 0px 3px 9px 0px;
    border:none;
    border-radius: 5px;
    width: 180px;
    height: 210px;
    line-height:110px;
    margin: 20px;
}

.img:hover{
    transition: 300ms ease-in;
    transform: scale(1.02);
}

#overhead{
    margin:18px 10px;
    display: flex;
    justify-content: space-between;
}

#letter{
    margin:10px;
}

.spec{
    border:none;
    background-color: rgb(255, 255, 253);
    width:180px;
    height:45px;
    border-radius: 10px;
    border: 1px solid rgb(41, 40, 40);
}

.spec a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#scrollmenu{
    scroll-behavior: smooth;
}

#leftscroll{
    left: 1%;
}

#rightscroll{
    right: 1%;
}

.scrollBtn{
    position: absolute;
    top: 58%;
    border: none;
    font-weight: 700;
    border-radius: 50%;
    padding: 0.8rem 1rem;
    background-color: white;
    transition: all 0.1s ease-in 0s;
}

.scrollBtn:hover{
    box-shadow: 2px 4px 4px rgb(151, 151, 151);
    transform: scale(1.1);
}

/* DOCTORS SPECIALIZATION SECTION */

*,*::after,*::before
{
    padding: 0px;
    margin: 0px;
    /* background-color: #04566e; */
}

.bg-doctor
{
    background-color: #04566e;
    background-size: cover;
    /* bottom: 0; */
    position: relative;
    /* height: 280vh;    */
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 0;
    /* min-height: max-content; */
}

.bg-doctor .justify-content-center {
    margin: 0;
}

.doctor-title
{
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 15px;
}
 
.card
{   font-family: Camphor,sans-serif;
    position: relative;
    border: 10px;
    margin: 10px;
    margin-bottom: 25px;

}

.row
{   font-family: Camphor,sans-serif;
    position: relative;
    padding: 50px;
    border: 10px;
}

/* Benefits of Online Consultation */
.grid-col
{
    flex-basis: 33.33%;
    padding: 27px;
    text-align: justify;
    font-size: 17px;
}

.grid-row
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.heading
{
    font-size: 22px;
    font-weight: bold;
}
.right-icon
{
    position: relative;
    height: 50px;
}

/* FOOTER STYLING */

/* footer
{
    background-image: url(/img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 900px;
    padding: 30px;
    border: 60px;
    z-index: 1;
    position: sticky;
    
    background-color:#04566e ;
} */

/* .footer-content
{
    margin: 30px;
    padding-top:  120px;
    border: 80px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
} */

/* .footer-col
{  
    display: inline-table;
    font-size: 15px;
    line-height: 22px;
    width: 19.7%;
    padding-right: 7px;
} */

/* .footer-title
{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
} */

.footer-item
{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
    font-weight: normal;
    padding: 5px;
}

/* Appointment Styling */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {margin: 0; padding: 0;}

.appointment 
{
    min-height: 120vh;
	background-image: url(/img/appointment.gif);
    background-size: cover;
    background-repeat: no-repeat;      
}
  
.appointment-bg
{
    position: relative;
    left: 20%;
    top: 8%;
}

body {
	font-family: montserrat, arial, verdana;
}

#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
    font-family: montserrat, arial, verdana;
}

#msform .action-button {
	width: 100px;
	background: #FC5185;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
    text-decoration: none;
    padding-top: 7px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #FC5185;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
    font-family: montserrat, arial, verdana;
}

select 
{
    font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;  
    font-family: montserrat, arial, verdana;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: rgb(12, 12, 12);
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; 
}

#progressbar li:first-child:after {
	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #FC5185;
	color: white;
}

/* FOOTER STYLING */

footer
{
    background-image: url(/img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 55vh;
    padding: 30px;
    border: 60px;
    /* z-index: 1; */
    /* position: sticky; */

    /* background-color:#04566e ; */
}

.footer-content
{
    position: relative;
    top: 10vh;
    margin: 30px;
    padding-top:  120px;
    border: 80px;
    text-decoration: none;
    color: black;
    /* vertical-align: middle; */
}


.footer-col
{  
    display: inline-table;
    font-size: 15px;
    line-height: 22px;
    width: 19.7%;
    padding-right: 7px;
}

.footer-title
{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.footer-item
{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
    font-weight: normal;
    padding: 5px;
}

/* Specialities Carousel */

.carousel-item{
    height: 70vh;
}

.speciality-first-slide{
    background-color: #FC5185;
}

.speciality-second-slide{
    background-color: #3FC1C9;
}

.speciality-third-slide{
    background-color:  #364F6B;
}

/*  */

/* Specialities Scroll Menu Icons */

.specialities-images{
    
    height:130px;
    width: 130px;
}

.consult{
    border: none!important;
    color: #fff!important;
    background-color: #fc6491!important;
}

/*  */

      
.speciality-cards{
    padding: 80px;
    height: max-content;
}

.boxes{
    width: 300px;
    padding: 60px;
    margin: 30px;
    height: 300px;
    display: inline-block;
    background-image: linear-gradient(#38bebe,#2a9ce7);
    /* background-color: #ffffff;     */
    border: none;
    box-shadow: 0px 3px 6px 0px;
    border-radius: 10px;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.card-box{
    display: grid;
    justify-content: center;
    align-items: center;
}

.card-box > .consult{
    margin-top: 30px;
    background-color: rgb(231, 43, 191);
    color: rgb(20, 173, 220);
}

/* profile styling  */
.profile-container
{
    /* position: relative;
    left: 40%; */
    background-color: #04566e;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-btn
{
    position: relative;
    left: 15%;
    top: 10%;
}
.btn-circle
{
    height: 25px;
    width: 25px;
    background-color: rgb(34, 219, 49);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: -3%; 
    top: 20%;   
}
/* *<About us> */
#about-us {
    text-align: center;
    min-height: 50vh;
}
.connect {
    position: relative;
}

.connect img {
    margin-left: 10vw;
    margin-right: 10vw;
}

.connect  #cntr{
    position: relative;
    text-align: center;
    left: 6.8vw;
    font-size: 30px;
}

.connect #cont-cntr {
    position: absolute;
    top: 35px;
    width: 20vw;
    left: 15vw;
    font-size: 14px;
}

.connect #lft {
    position: relative;
    left: -21.5vw;
    font-size: 30px;
    
}

.connect #cont-lft {
    position: absolute;
    top: 35px;
    width: 20vw;
    left: 38.8vw;
    font-size: 14px;
}

.connect #rgt {
    position: relative;
    left: 20vw;
    font-size: 30px;
}

.connect #cont-rgt {
    position: absolute;
    top: 35px;
    width: 20vw;
    left: 64vw;
    font-size: 14px;
}

#all-about {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

#all-about h1 {
    margin-bottom: 20px;
}

#all-about p {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70vw;
}

/* *</About us> */

/* Profile  */
.profile-container
{
    display: inline-block;
    background-color: #04566e;
    background-size: cover;
    padding: 10px;
}

.profile-img

{   
    position: relative;
    display: inline-block;
    width: 340px;
    height: 340px;
    padding: 30px;
    margin: 30px;
}

#tp
{
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px;
}

.profile-title
{
    position: absolute;
    /* text-align: center; */
    color: white;
    top: 32%;
    left: 40%;
    padding: 30px;
} 

.profile-content
{
    color: white;
    position: absolute;
    top: 42%;
    left: 40%;
    line-height: 7px;
    margin: 12px;
    padding-top: 7px;
}

.profile-special
{
    color: white;
    position: absolute;
    top: 58%;
    left: 42%;
}

.profile-exp
{
    color: white;
    position: absolute;
    top: 74%;
    left: 42%;
}

.profile-doc-about
{
    
    color: white;
    font-size: medium;
    padding: 20px;
    margin: 50px;
    
}

.btn-circle
{
    height: 25px;
    width: 25px;
    background-color: rgb(34, 219, 49);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 9%; 
    top: -15%;   
}
.profile-ratings
{  
    width: 40px;
    height: 60px;
}
 .blink
  {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
.payment-bg
{
    background-image: url("/img/payment.gif");
    background-size: cover;
    height: 120vh;
    width: 98.7vw;
    background-repeat: no-repeat;
   
}
.payement-title
{
    text-align: center;
    color: rgb(2, 2, 2);
     font-weight: bold;
     position: absolute;
     top: 50%;
     left: 47%;
     padding: 15px;
     font-size: 30px;
}
.profile-btn
{
    text-decoration: none;
    color: pink;
    position: absolute;
    top: 65%; 
    left: 62%; 
    width: 134px;
}

.blink
{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
      
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
